<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Registrarse</title>
</head>
<body>
    <main>
        <div class="contenedor">
            <form action="/login" method="POST">
                <input type="text" placeholder="Nombre y apellido">
                <input type="text" placeholder="Nombre de usuario">
                <input type="text" placeholder="Email">
                <label for="date">Fecha de nacimiento</label>
                <input type="date">
                <input type="text" placeholder="Domicilio">
                <label class="perfil-de-usuario" for="perfil-user">Perfil de usuario</label>
            </form>
        </div>
        <div class="row-label">
            <label for=""><input type="radio">Comprador</label>
            <label for=""><input type="radio">Vendedor</label>
        </div>
        <div class="contenedor">
            <form action="/login" method="POST">
                <label for="">Intereses</label>
            </form>
        </div>
        <div class="row">
            <label for=""><input type="checkbox">Electro</label>
        </div>
        <div class="row">
            <label for=""><input type="checkbox">Moda</label>
        </div>
        <div class="row">
            <label for=""><input type="checkbox">Hogar</label>
        </div>
        <div class="row">
            <label for=""><input type="checkbox">Juguetería</label>
        </div>
        <div class="row">
            <label for=""><input type="checkbox">Vida sana</label>
        </div>
    </main>
</body>
</html>